<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <%- include('../includes/dashboard/headFiles')%>

    <link rel="stylesheet" href="/dashboard/css/custom.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('../includes/dashboard/sidebar')%>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('../includes/dashboard/topbar')%>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">All Events</h1>
                      
                    </div>


                    <!-- DataTales Example -->
                    <div class="row">
                        <div class="col-lg-12">
                    <div class="card shadow mb-4 ev-table">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Events </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Event Name</th>
                                            <th>No .Registered Users</th>
                                            <th>Action</th>
                                         
                                      
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Event Name</th>
                                            <th>No. Registered Users</th>
                                            <th>Action</th>                                        
                                      
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>15</td>
                                            <td class="action-link">
                                                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="text-danger pl-2"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('../includes/dashboard/footer')%>


    <%- include('../includes/dashboard/jsFiles')%>

     <!-- Page level plugins -->
     <script src="/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
     <script src="/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level plugins -->
    <!-- Page level custom scripts -->
    <script src="/dashboard/js/demo/datatables-demo.js"></script>

</body>

</html>